
body
  //background: #d4d4d4
  background: #FFFFFF
  text-align: center
  font-family: sans-serif
  height: 100%


h1
  font-size: 50px

.main
  margin-top: 10%

.left-content
  float: left
  position: relative
  margin-left: 10%

.right-content
  clear: left
  margin-left: 10%


footer
  clear: both
  font-family: arial
  font-weight: 200
  font-size: x-small
  position: absolute
  bottom: 0
  width: 100%
  height: 60px
