@mixin link-base($color)
  color: $color
  text-decoration: none

@mixin link-hover($color)
  color: $color
  text-decoration: underline

html,body
  background: #FFFFFF
  text-align: center
  font-family: sans-serif
  height: 100%
  margin: 0
  padding: 0

.wrapper
  min-height: 100%
  position: relative

h1
  font-size: 40px

a:link
  @include link-base(#000000)
a:visited
  @include link-base(#000000)
a:hover
  @include link-hover(#000000)
a:active
  @include link-hover(#000000)


.header
  text-align: left
  border-bottom: medium solid #000000
  margin:
    left: 5%
    right: 5%

.main
  margin-top: 10%
  padding-bottom: 60px

.center-content
  text-align: left
  margin:
    left: 20%
    right: 20%
  position: relative
  padding-bottom: 80px
  hr
    border: none
    background-color: #ccc
    color: #ccc
    height: 1px

.left-content
  float: left
  position: relative
  margin-left: 20%

.right-content
  clear: left
  color: #FFFFFF
  background: #000000
  margin:
    left: 20%
    right: 20%
  position: relative
  float: right
  padding: 10px
  a:link
    @include link-base(#FFFFFF)
  a:visited
    @include link-base(#FFFFFF)
  a:hover
    @include link-hover(#FFFFFF)
  a:active
    @include link-hover(#FFFFFF)

footer
  clear: both
  font:
    weight: 200
    size: x-small
  position: absolute
  bottom: 0
  width: 100%
  height: 60px
