%footer
  All original code is licenced under the GPL 3 Licence.  All "Content" (stuff between <em>< p ></em> tags, etc) is licenced under the
  Creative Commons Attribution-ShareAlike 3.0 Unported Licence.
